{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/site" %}
{% set digestLogo = true %}

{% block content %}
	{% include '_includes/digest-nav' %}

	<div class="digest-post-wrapper">
		<article class="digest-post">
			<header class="digest-post__header">
				<div class="digest-post__header__inner">
					{% if entry.mainImage|length %}
						<div class="digest-post__image">
							<img src="{{ entry.mainImage.first().url }}" alt="{{ entry.title }}">
						</div>
					{% endif %}

					<h1 class="digest-post__title">{{ entry.title }}</h1>

					{% if entry.byline %}
						<h2 class="digest-post__byline">{{ entry.byline }}</h2>
					{% endif %}

					<span class="digest-post__postDate">{{ entry.postDate.format('F d, Y') }}</span>
				</div>
			</header>

			<main class="digest-post__body">
				{{ entry.body }}
			</main>
		</article>

		<aside class="digest__aside aside">
			<h2 class="digest__home__title">Recent Articles</h2>
		{% for entry in craft.entries.section('digest').limit(4) %}
				<article class="digest__home__featured__post">
					<span class="digest__home__featured__post__date">{{ entry.postDate.format('F d, Y') }}</span>
					<a class="digest__home__featured__post__title" href="{{ entry.url }}">{{ entry.title }}</a>
				</article>
		{% endfor %}
		</aside>
	</div>
	
{% endblock %}
