{% extends "_layouts/site" %}
{% set digestLogo = true %}
{% set title = entry.title %}

{# SEO Content #}
{% block head %}
	{{ parent() }}

	<link rel="canonical" href="{{ entry.url }}">
	<meta
		itemprop="description"
		name="description"
		content="{{ entry.title }}"
	>
	<meta name="genre" itemprop="genre" content="News">
	<meta itemprop="identifier" name="articleid" content="{{ entry.id }}">
	<meta name="hdl" content="{{ entry.title }}">
	<meta name="DISPLAYDATE" content="{{ entry.postDate.format('m.d, Y')}}">
	<meta name="dat" content="{{ entry.postDate.format('m.d, Y')}}">

	<meta property="og:url" content="{{ entry.url }}">
	<meta property="og:type" content="article">
	<meta property="og:title" content="{{ entry.title }}">
	<meta property="og:description" content="{{ entry.body|hacksaw(words='30', append='...') }}">

	<meta property="article:published" itemprop="datePublished" content="{{ entry.postDate.iso8601 }}">
	<meta property="article:modified" itemprop="dateModified" content="{{ entry.postDate.iso8601 }}">

	{% if entry.mainImage|length %}
		<meta property="og:image" content="entry.mainImage.first().url">
	{% endif %}	
{% endblock head %}

{% block content %}
	{% include '_includes/digest-nav' %}

	<div class="digest-post-wrapper">
		<article class="digest-post" itemscope itemtype="http://schema.org/NewsArticle">
			<header class="digest-post__header">
				<div class="digest-post__header__inner">
					{% if entry.mainImage|length %}
						{% set img = entry.mainImage.first() %}
						<div class="digest-post__image">
							<img
								src="{{ img.getUrl('digestHeader') }}"
								role="presentation"
								alt="{{ entry.title }}"
								itemprop="url"
								itemid="{{ img.getUrl('digestHeader') }}"
								style="max-width: 100%"
							>
							<meta itemprop="width" content="{{ img.getWidth('digestHeader') }}">
							<meta itemprop="height" content="{{ img.getHeight('digestHeader') }}">
						</div>
					{% endif %}

					<h1 class="digest-post__title" itemprop="headline">{{ entry.title }}</h1>

					{% if entry.byline %}
						<h2
							class="digest-post__byline"
							itemprop="author creator"
							itemscope
							itemtype="http://schema.org/Person"
							itemid="{{ siteUrl }}/search/results?q={{ entry.byline }}&search="
						>{{ entry.byline }}</h2>
					{% endif %}

					<time
						class="digest-post__postDate"
						datetime="{{ entry.postDate.iso8601 }}"
						itemprop="datePublished"
						content="{{ entry.postDate.iso8601 }}"
					>{{ entry.postDate.format('F d, Y') }}</time>

				</div>
			</header>

			<main class="digest-post__body" itemprop itemtype="articleBody">
				{{ entry.body }}
			</main>
		</article>

		<aside class="digest__aside aside">
			<h2 class="digest__home__title">Recent Articles</h2>
		{% for entry in craft.entries.section('digest').limit(4) %}
				<article class="digest__home__featured__post">
					<span class="digest__home__featured__post__date">{{ entry.postDate.format('F d, Y') }}</span>
					<a class="digest__home__featured__post__title" href="{{ entry.url }}">{{ entry.title }}</a>
				</article>
		{% endfor %}
		</aside>
	</div>
	
{% endblock %}
