{% extends "_layouts/site" %}
{% set title = "JOLT Digest" %}
{% set digestLogo = true %}
{% paginate craft.entries.section('digest').offset(1).limit(10) as pageInfo, pageEntries %}

{% block content %}
	{% include '_includes/digest-nav' %}
		{% if pageInfo.currentPage == 1 %}
		{% set newestEntry = craft.entries.section('digest').first() %}
		<div class="digest__home__featured">
			<article class="digest__home__post digest__home__post--newest">
				<h2 class="digest__home__title">Featured Article</h2>
				{% if newestEntry.mainImage|length %}
					{% set img = newestEntry.mainImage.first() %}
					<a href="{{ newestEntry.url }}" class="digest__home__post__image">
						<img
							src="{{ img.getUrl('digestHeader') }}"
							role="presentation"
							alt="{{ newestEntry.title }}"
							itemprop="url"
							itemid="{{ img.getUrl('digestHeader') }}"
						>
						<meta itemprop="width" content="{{ img.getWidth('digestHeader') }}">
						<meta itemprop="height" content="{{ img.getHeight('digestHeader') }}">
					</a>
				{% endif %}

				<div class="digest__home__post__content {% if not newestEntry.mainImage|length %}digest__home__post__content--full{% endif %}">
					<div class="digest__home__post__content-inner">
						<a class="digest__home__post__title" href="{{ newestEntry.url }}">{{ newestEntry.title }}</a>
						<span class="digest__home__post__date">Posted on {{ newestEntry.postDate.format('F d, Y') }}</span>
						<div>{{ newestEntry.body|hacksaw(words='120', allow='<h1><h2><h3><h4><h5><img>', append='...') }}</div>
						<a class="digest__home__post__continue" href="{{ newestEntry.url }}">Continue reading</a>
					</div>

					<div class="digest__home__post__cat-list">
						{% for category in newestEntry.digestCategory.limit(5) %}
							<a class="digest__home__post__cat" href="/digest/category/?cat={{ category.slug }}">{{ category }}</a>
						{% endfor %}
					</div>
				</div>
			</article>

			<aside class="digest__aside aside">
				<h2 class="digest__home__title">Recent Articles</h2>
			{% for entry in craft.entries.section('digest').offset(1).limit(4) %}
				<article class="digest__home__featured__post">
					<span class="digest__home__featured__post__date">{{ entry.postDate.format('F d, Y') }}</span>
					<a class="digest__home__featured__post__title" href="{{ entry.url }}">{{ entry.title }}</a>
				</article>
			{% endfor %}
			</aside>
		</div>
		{% endif %}

	<section class="digest__posts">
		{% for entry in pageEntries %}
		<article class="digest__home__post">

			{% if entry.mainImage|length %}
					{% set mainImage = entry.mainImage.first() %}
			<div class="digest__home__post__image">
				<img
					src="{{ mainImage.getUrl('thumb') }}"
					role="presentation"
					alt="{{ entry.title }}"
					itemprop="url"
					itemid="{{ mainImage.getUrl('thumb') }}"
				>
				<meta itemprop="width" content="{{ mainImage.getWidth('thumb') }}">
				<meta itemprop="height" content="{{ mainImage.getHeight('thumb') }}">
			</div>
			{% endif %}

			<div class="digest__home__post__content {% if not entry.mainImage|length %}digest__home__post__content--full{% endif %}">
				<div class="digest__home__post__content-inner">
					<a class="digest__home__post__title" href="{{ entry.url }}">{{ entry.title }}</a>
					<span class="digest__home__post__date">Posted on {{ entry.postDate.format('F d, Y') }}</span>
					{{ entry.body|hacksaw(words='60', allow='<h1><h2><h3><h4><h5><img>', append='...') }}
					<br /><a class="digest__home__post__continue" href="{{ entry.url }}">Continue reading</a>
				</div>

				<div class="digest__home__post__cat-list">
					{% for category in entry.digestCategory.limit(3) %}
					    <a class="digest__home__post__cat" href="/digest/category/?cat={{ category.slug }}">{{ category }}</a>
					{% endfor %}
				</div>
			</div>

		</article>
		{% endfor %}

		<div class="digest__posts__controls">
			{% if pageInfo.prevUrl %}
				<a class="digest__posts__control" href="{{ pageInfo.prevUrl }}">
					Previous Page
					<svg class="digest__posts__control__arrow digest__posts__control__arrow--left" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 31.49 31.49" style="enable-background:new 0 0 31.49 31.49;" xml:space="preserve">
						<path style="fill:#1E201D;" d="M10.273,5.009c0.444-0.444,1.143-0.444,1.587,0c0.429,0.429,0.429,1.143,0,1.571l-8.047,8.047h26.554 c0.619,0,1.127,0.492,1.127,1.111c0,0.619-0.508,1.127-1.127,1.127H3.813l8.047,8.032c0.429,0.444,0.429,1.159,0,1.587 c-0.444,0.444-1.143,0.444-1.587,0l-9.952-9.952c-0.429-0.429-0.429-1.143,0-1.571L10.273,5.009z"/>
					</svg>
				</a>
			{% else %}
				<span class="digest__posts__control digest__posts__control--disabled">
					Previous Page
					<svg class="digest__posts__control__arrow digest__posts__control__arrow--left" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 31.49 31.49" style="enable-background:new 0 0 31.49 31.49;" xml:space="preserve">
						<path style="fill:#1E201D;" d="M10.273,5.009c0.444-0.444,1.143-0.444,1.587,0c0.429,0.429,0.429,1.143,0,1.571l-8.047,8.047h26.554 c0.619,0,1.127,0.492,1.127,1.111c0,0.619-0.508,1.127-1.127,1.127H3.813l8.047,8.032c0.429,0.444,0.429,1.159,0,1.587 c-0.444,0.444-1.143,0.444-1.587,0l-9.952-9.952c-0.429-0.429-0.429-1.143,0-1.571L10.273,5.009z"/>
					</svg>
				</span>
			{% endif %}
			{% if pageInfo.nextUrl %}
				<a class="digest__posts__control" href="{{ pageInfo.nextUrl }}">
					Next Page
					<svg class="digest__posts__control__arrow digest__posts__control__arrow--right" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 31.49 31.49" style="enable-background:new 0 0 31.49 31.49;" xml:space="preserve">
						<path style="fill:#1E201D;" d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111 C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587 c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"/>
					</svg>
				</a>
			{% else %}
				<span class="digest__posts__control digest__posts__control--disabled">
					Next Page
					<svg class="digest__posts__control__arrow digest__posts__control__arrow--right" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 31.49 31.49" style="enable-background:new 0 0 31.49 31.49;" xml:space="preserve">
						<path style="fill:#1E201D;" d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111 C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587 c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"/>
					</svg>
				</span>
			{% endif %}
		</div>
	</section>


{% endblock %}
