{% if entry is defined %}
	{% set section = entry.getSection() %}
	{% set handle = section.handle %}
{% endif %}

<nav class="global-nav" id="global-nav" aria-label="Main navigation" aria-hidden="true">
	{% include "_includes/close.twig" with { 'class': 'nav__close' } %}

	<a href="{{ siteUrl }}" class="nav__logo" role="banner">{% include '_includes/jolt-logo.svg' %}</a>

	<ul class="nav__list">
		{% for block in globalNav.navigationItem %}
			<li class="nav__list-item">
				{% if block.type == 'linkToEntry' %}
					{% set blockHandle = block.entry.first().getSection().handle %}
					{% if handle is defined %}
						{% if handle == blockHandle or handle ~ 'Index' == blockHandle %}
							{% set isActive = true %}
						{% else %}
							{% set isActive = false %}
						{% endif %}
					{% endif %}

					<a tabindex="-1" href="{{ block.entry.first().url }}" class="nav__link {% if isActive is defined and isActive %}is-active{% endif %}">{{ block.entryLabel }}</a>
				{% elseif block.type == 'linkToCustomUrl' %}
					<a tabindex="-1" href="{{ block.customUrl }}" target="_blank" class="nav__link">{{ block.customLabel }}</a>
				{% endif %}
			</li>
		{% endfor %}

		{% if currentUser %}
			{% set wiki = craft.entries.section('internalWikiIndex').first() %}
			<li class="nav__list-item">
				<a href="{{ wiki.url }}" class="nav__link">Internal Wiki</a>
			</li>
		{% endif %}
	</ul>
</nav>
