<header class="header {% if headerClass is defined %}{{ headerClass }}{% endif %}">
	<div class="header__inner">

		<div class="header__links">
			<button
				class="nav-button"
				id="js--nav-button"
				role="button"
				aria-label="Menu button"
				aria-controls="global-nav"
				aria-haspopup="true"
			>
				<span aria-hidden="true"></span>
			</button>

			{% if digestLogo is defined and digestLogo == true %}
				<a href="{{ craft.entries.section('digestIndex').first().url }}" class="header__digest-logo">{% include '_includes/digest-logo.svg' %}</a>
			{% else %}
				<a href="{{ siteUrl }}" class="header__logo-link">{% include '_includes/jolt-logo.svg' %}</a>
			{% endif %}
		</div>

		<div class="header__extra">
			{% cache globally %}
			<form action="{{ url('search/results') }}" class="header__search">
				<input aria-label="Search" class="header__search__input" type="search" name="q" placeholder="Search">
				<button type="submit" name="search" class="header__search__button">{% include "_includes/search-icon.svg" %}</button>
			</form>
			{% endcache %}

			{% if currentUser %}

				<div class="header__user">
					<p style="margin: 0; font-size: 0.8rem;">{{ currentUser.email }}</p>
					<a href="{{ logoutUrl }}" class="header__button">Logout</a>
				</div>

			{% else %}

				<a href="{{ loginUrl }}" class="header__button">Login</a>

			{% endif %}
		</div>
	</div>
</header>
