{% set section = entry.getSection() %}
{% set handle = section.handle %}

<nav class="global-nav" id="js--global-nav">
	{% include "_includes/close.twig" with { 'class': 'nav__close' } %}

	<a href="{{ siteUrl }}" class="nav__logo">{% include '_includes/jolt-logo.svg' %}</a>

	<ul class="nav__list">
		{% for block in globalNav.navigationItem %}
			<li class="nav__list-item">
				{% if block.type == 'linkToEntry' %}
					{% set blockHandle = block.entry.first().getSection().handle %}
					{% if handle == blockHandle or handle ~ 'Index' == blockHandle %}
						{% set isActive = true %}
					{% else %}
						{% set isActive = false %}
					{% endif %}

					<a href="{{ block.entry.first().url }}" class="nav__link {% if isActive %}is-active{% endif %}">{{ block.entryLabel }}</a>
				{% elseif block.type == 'linkToCustomUrl' %}
					<a href="{{ block.customUrl }}" target="_blank" class="nav__link">{{ block.customLabel }}</a>
				{% endif %}
			</li>
		{% endfor %}

		{% if currentUser %}
			{% set wiki = craft.entries.section('internalWikiIndex').first() %}
			<li class="nav__list-item">
				<a href="{{ wiki.url }}" class="nav__link">Internal Wiki</a>
			</li>
		{% endif %}
	</ul>
</nav>
