<nav class="global-nav" id="js--global-nav">
	<button class="nav__close" id="js--nav-close">CLOSE</button>

	<a href="{{ siteUrl }}" class="nav__logo">{% include '_includes/jolt-logo.svg' %}</a>

	<ul class="nav__list">
		{% for block in globalNav.navigationItem %}
			<li class="nav__list-item">
				{% if block.type == 'linkToEntry' %}
					<a href="{{ block.entry.first().url }}" class="nav__link">{{ block.entryLabel }}</a>
				{% elseif block.type == 'linkToCustomUrl' %}
					<a href="{{ block.customUrl }}" target="_blank" class="nav__link">{{ block.customLabel }}</a>
				{% endif %}
			</li>
		{% endfor %}

		{% if currentUser %}
			{% set wiki = craft.entries.section('internalWikiIndex').first() %}
			<li class="nav__list-item">
				<a href="{{ wiki.url }}" class="nav__link">{{ wiki.title }}</a>
			</li>
		{% endif %}
	</ul>
</nav>
