<footer class="footer">
	<div class="footer__inner">
		<section class="footer__sponsors">
			<h4 class="footer__title">{{ siteName }} Sponsors</h4>

			{% if footer.sponsors %}
				<ul class="footer__sponsor-list">
					{% for block in footer.sponsors %}
						<li><a href="{{ block.linkToSponsor }}" target="_blank" class="footer__sponsor">{{ block.sponsorName }}</a></li>
					{% endfor %}
				</ul>
			{% endif %}
		</section>

		{% cache globally %}
		<section class="footer__contact-info">
			<div class="footer__address">{{ contactInformation.address }}</div>
			<a href="mailto:{{ contactInformation.joltEmail }}" target="_blank">{{ contactInformation.joltEmail }}</a>
			<span class="footer__copyright">Copyright &copy; {{ now.year }} Harvard Journal of Law and Technology</span>
		</section>
		{% endcache %}
	</div>
</footer>
