{% requireLogin %}

{% extends "_layouts/site" %}
{% set wiki = craft.entries.section('wiki') %}

{% block content %}

	<div class="wiki-wrapper">
		<article class="wiki__article">
			<h1 class="wiki__title">{{ entry.title }}</h1>
			<div class="wiki__content">
				{{ entry.body }}

				{% if entry.embed %}
					<h2>{{ entry.embedTitle }}</h2>
					<iframe
						class="wiki__embed"
						src="{{ entry.embed }}"
						style="border: 0"
						width="100%"
						height="500"
						frameborder="0"
						scrolling="no">
					</iframe>
				{% endif %}
			</div>
		</article>

		<aside class="aside">
			<nav class="wiki__aside">
				<ol>
					{% nav entry in wiki %}
						<li class="aside__list-item">
							<a href="{{ entry.url }}" class="aside__list-item__link">{{ entry.title }}</a>

							{% ifchildren %}
								<ul>
									{% children %}
								</ul>
							{% endifchildren %}
						</li>
					{% endnav %}
				</ol>
			</nav>
		</aside>

	</div>

	</article>
	
{% endblock %}
