{% extends "_layouts/site" %}
{% set bodyClass = "body--grey" %}
{% set headerClass = "header--sticky" %}

{# Get the requested search term and find the matching entries #}
{% set searchTerm = craft.request.getParam('q') %}
{% set searchResults = craft.entries.search(searchTerm).order('score') %}

{% block content %}

	<header class="search__header">
		<h1>Search Results</h1>
		<span>You searched for <strong>{{ searchTerm }}</strong></span>
	</header>

	<section class="search__results">

			{# Were there any search results? #}
			{% if searchResults | length %}
				<h2 class="search__title accent-title">{{ searchResults | length }} results</h2>

				{# Loop through the results #}
				{% for entry in searchResults %}
					<div class="search__result">
						<h2 class="link-wrapper" style="margin-top: 0;">{{ entry.getLink() }}</h2>
						{% if entry.byline %}
							<span class="search__byline">{{ entry.byline }}</span>
						{% endif %}
						<span class="search__post-date accent-type">{{ entry.postDate.format('F j, Y') }}</span>

					</div>
				{% endfor %}

			{# Otherwise just show a "no results" message #}
			{% else %}
				<h2>Your search for “{{ searchTerm }}” didn’t return any results.</h2>
			{% endif %}

	</section>

{% endblock %}
