{% extends "_layouts/site" %}

{# Get the requested search term and find the matching entries #}
{% set searchTerm = craft.request.getParam('q') %}
{% set searchResults = craft.entries.search(searchTerm).order('score') %}

{% block content %}

	<header>
		<h1>Search Results</h1>
		<h3>You search for <strong>{{ searchTerm }}</strong></h3>
	</header>

	<section>

			{# Were there any search results? #}
			{% if searchResults | length %}
				<h2>{{ searchResults | length }} results</h2>

				{# Loop through the results #}
				{% for entry in searchResults %}
					<div>
						<span class="post-date">{{ entry.postDate.format('m.d.Y') }}</span>
						<h2>{{ entry.getLink() }}</h2>
					</div>
				{% endfor %}

			{# Otherwise just show a "no results" message #}
			{% else %}
				<h2>Your search for “{{ searchTerm }}” didn’t return any results.</h2>
			{% endif %}

	</section>

{% endblock %}
