{#
 # Articles index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/site" %}
{% set title = "JOLT Digest" %}

{% block content %}
	<h1>Articles</h1>

	{% paginate craft.entries.section('digest').limit(10) as pageInfo, pageEntries %}

	{% for entry in pageEntries %}
		<article>
			<h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
			<p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
			{{ entry.body.getPage(1) }}
			<p><a href="{{ entry.url }}">Continue reading</a></p>
		</article>
	{% endfor %}

	{% if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}">Previous Page</a>{% endif %}
	{% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}">Next Page</a>{% endif %}
{% endblock %}
