{% extends "_layouts/site" %}
{% set title = "JOLT Digest" %}

{% block content %}
	<header class="digest__header">
		<nav class="digest__nav">
			<a href="#">link</a>
			<a href="#">link</a>
			<a href="#">link</a>
			<a href="#">link</a>
		</nav>
	</header>

	<aside class="digest__sidebar">
		<select name="byCategory" id="byCategory">
			{% for category in craft.categories('digestCategories') %}
				<option value="{{ category.slug }}" class="form__option">
					{% if category.level != 1 %}
						{% for level in 0..category.level - 1 %}&nbsp;{% endfor %}
					{% endif %}
					{{ category.title }}
				</option>
			{% endfor %}
		</select>
	</aside>

	<section class="digest__posts">
		{% paginate craft.entries.section('digest').limit(10) as pageInfo, pageEntries %}

		{% for entry in pageEntries %}
		<article class="digest__home__post">

			{% if entry.mainImage|length %}
			<div class="digest__home__post__image">
				<img src="{{ entry.mainImage.first().url }}" alt="{{ entry.title }}">
			</div>
			{% endif %}

			<div class="digest__home__post__content {% if not entry.mainImage|length %}digest__home__post__content--full{% endif %}">
				<a class="digest__home__post__title" href="{{ entry.url }}">{{ entry.title }}</a>
				<span class="digest__home__post__date">Posted on {{ entry.postDate.format('F d, Y') }}</span>
				{{ entry.body|hacksaw(words='100', allow='<h1><h2><h3><h4><h5>', append='...') }}
				<br /><a class="digest__home__post__continue" href="{{ entry.url }}">Continue reading</a>
			</div>

		</article>
		{% endfor %}
	</section>


	{% if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}">Previous Page</a>{% endif %}
	{% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}">Next Page</a>{% endif %}
{% endblock %}
