{% extends "_layouts/site" %}

{% block content %}
	<article class="volume-wrapper">
		<div class="volume__volumes">
			<section class="volume volume__fall">
				<h2>{{ entry.title }}, Number 1: Fall {{ entry.publishedFall.format('Y') }}</h2>

				{# {{ entry.tableOfContentsFall }} #}
				<section>
					<h3 class="accent-type">Articles</h3>
					<div class="volume__articles">{{ entry.articlesFall }}</div>
				</section>
				{% for block in entry.newSectionFall %}
					<section class="volume__section">
					    <h3 class="accent-type">{{ block.heading }}</h3>
					    <div class="volume__notes">{{ block.sectionContent }}</div>
					</section>
				{% endfor %}
			</section>

			{% if entry.publishedSpring %}
				<section class="volume volume__spring">
					<h2>{{ entry.title }}, Number 2: Spring {{ entry.publishedSpring.format('Y') }}</h2>

					{# {{ entry.tableOfContentsSpring }} #}
					<section>
						<h3 class="accent-type">Articles</h3>
						<div class="volume__articles">{{ entry.articlesSpring }}</div>
					</section>
					{% for block in entry.newSectionSpring %}
						<section class="volume__section">
						    <h3 class="accent-type">{{ block.heading }}</h3>
						    <div class="volume__notes">{{ block.sectionContent }}</div>
						</section>
					{% endfor %}
				</section>
			{% endif %}
		</div>

		<aside class="volume__nav">
			<ul class="volume__nav__list">
				{% for entry in craft.entries.section('volumes').limit(5).find() %}
					<li class="volume__nav__list-item"><a href="{{ entry.url }}" class="volume__nav__link">{{ entry.title }}</a></li>
				{% endfor %}
			</ul>
		</aside>
	</article>
{% endblock %}
