{% extends "_layouts/site" %}
{% set headerClass = "header--transparent" %}

{% block content %}

	<section class="home__section--featured">
		<div class="featured__inner">

			<div class="featured__issue">
				<span>Current Issue</span>
				{% for entry in craft.entries.section('volumes').limit(1).find() %}
					<h1 class="featured__title"><a href="{{ entry.url }}">
						{% if entry.publishedSpring %}
							Spring {{ entry.publishedSpring.format('Y') }}
						{% else %}
							Fall {{ entry.publishedFall.format('Y') }}
						{% endif %}
					</a></h1>

				<p>You can view the most recent issue of the Harvard Journal of Law &amp; Technology in PDF form <a href="{{ entry.url }}">here.</a></p>
				{% endfor %}
			</div>

		</div>
	</section>

	<section class="home__section--secondary">
		<div class="home__section--secondary__column">
			<header class="home__section--secondary__meta">
				<h3 class="accent-title">Featured Article</h3>
				<h2 class="home__section--secondary__title">{{ entry.featuredTitle }}</h2>
				<span>{{ entry.authorName }}</span>
			</header>

			<p class="home__section--secondary__text">{{ entry.featuredContent|hacksaw(words='80', allow='<h1><h2><h3><h4><h5>', append='...') }}</p>

			<div class="links">
				<button class="btn btn--blue" id="js--abstract-button">Read the Abstract</button>

				{% set assets = entry.asset %}
				{% if assets | length %}
					{% for asset in assets %}
						<a class="link" href="{{ asset.url }}" target="_blank">Read the Article</a>
					{% endfor %}
				{% endif %}
			</div>
		</div>

		<div class="home__section--secondary__column">
			<a href="{{ craft.entries.section('digestIndex').first().url }}" class="home__section--secondary__digest-link">
				{% include '_includes/digest-logo.svg' %}
			</a>

			{% for entry in craft.entries.section('digest').limit(1) %}
			<header class="home__section--secondary__meta">
				<h2 class="home__section--secondary__title"> {{ entry.title }} </h2>
				<span>{{ entry.byline }}</span>
			</header>

			<p class="home__section--secondary__text">{{ entry.body|hacksaw(words='80', allow='<h1><h2><h3><h4><h5>', append='...') }}</p>
			{% endfor %}
		</div>
	</section>


	<div class="abstract-modal">
		<div class="abstract-modal__inner">
			<button id="js--abstract-close">CLOSE</button>

			<p>{{ entry.featuredContent }}</p>
		</div>
		<div class="abstract-modal__overlay"></div>
	</div>

{% endblock %}
