{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/site" %}
{% set headerClass = "header--transparent" %}

{% block content %}

	<section class="home__section--featured">
		<div class="featured__inner">

			<div class="featured__issue">
				<span>Current Issue</span>
				{% for entry in craft.entries.section('volumes').limit(1).find() %}
					<h1 class="featured__title scene-element scene-element--fade-in-down"><a href="{{ entry.url }}">
						{% if entry.publishedSpring %}
							Spring {{ entry.publishedSpring.format('Y') }}
						{% else %}
							Fall {{ entry.publishedFall.format('Y') }}
						{% endif %}
					</a></h1>

				<p>You can view the most recent issue of the Harvard Journal of Law &amp; Technology in PDF form <a href="{{ entry.url }}">here.</a></p>
				{% endfor %}
			</div>

		</div>
	</section>

	<section class="home__section--secondary">
		<div class="home__section--secondary__column">
			<h3>Featured Article</h3>
			<h2 class="home__section--secondary__title">{{ entry.featuredTitle }}</h2>
			<span>{{ entry.authorName }}</span>

			<p>{{ (entry.featuredContent | slice(0, 400) ~ '...') | markdown }}</p>

			<div class="links">
				<button id="js--abstract-button">Read the Abstract</button>

				{% set assets = entry.asset %}
				{% if assets | length %}
					{% for asset in assets %}
						<a href="{{ asset.url }}" target="_blank">Read the Article</a>
					{% endfor %}
				{% endif %}
			</div>
		</div>

		<div class="home__section--secondary__column">

			<a href="{{ url('jolt-digest') }}" class="home__digest__link">
				{% include '_includes/digest-logo.svg' %}
			</a>

			{% for entry in craft.entries.section('digest').limit(1) %}
				<h3 class="home__section--secondary__title">
					{{ entry.title }}
				</h3>
			{% endfor %}
		</div>
	</section>


	<div class="abstract-modal">
		<div class="abstract-modal__inner">
			<button id="js--abstract-close">CLOSE</button>

			<p>{{ entry.featuredContent | markdown }}</p>
		</div>
	</div>

{% endblock %}
